<div id="<%= dom_id friend %>">
  
  <p>
    <strong>Frist name:</strong>
    <%= friend.frist_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= friend.last_name %>
  </p>

  <p>
    <strong>Wyjasniam bo:</strong>
    <%= friend.wyjasniam_bo %>
  </p>

  <p>
    <strong>Dlaczego nienawidzisz:</strong>
    <%= friend.dlaczego_nienawidzisz %>
  </p>

</div>
